-Mon environnement de déploiement distant est Render, assure toi que ton implémentation fonctionnera sur cette environnement fdistant aussi bien qu'en local
-La génération d'exercice par IA suit une logique précise décrite dans le fichier AI.md, fais y référence à chaque fois que nécessaire.
-A moins que je demande spécifiquement le contraire, procède au codage de ce que tu proposes.
-N'essaye jamais de lancer des commandes pour exécuter le frontend ou le bakcend ; je les exécuterai moi même.